<div class="hero is-light">
        <div class="hero-body mx-6 px-6">

        <div class="columns">
            <div class="column is-half">
                <div class="container p-6"> 
                    <h2 class="title is-3">Edit your account information!</h2>
                    <h2 class="subtitle is-5">Keepin' everything up to date.</h2>
                </div>
            </div>

            <div class="columns is-half">
                <div class="container p-6">
                    <form method="POST" action="/users/<%= @user.id %>" >
                        <input id="hidden" type="hidden" name="_method" value="patch">

                        <div class="field">
                            <label for="username" class="label">Username</label>
                            <div class="control has-icons-left">
                                <input class="input is-medium" type="text" name="user[username]" id="username" value="<%= @user.username %>">
                            </div>
                        </div>

                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input is-medium" name="user[email]" id="email" value="<%= @user.email %>">
                            </div>
                        </div>

                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control">
                                <input class="input is-medium" name="user[password]" id="password" value="<%= @user.password %>">
                            </div>
                        </div>

                        <br><br>

                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" value="Register" class="button is-medium is-dark">
                            </div>
                            <div class="control">
                                <button class="button is-medium"><a href="/">Cancel</a></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
</div> 