<h1>Update your account!</h1>
<br>

<form method="POST" action="/users/<%= @user.id %>" >

    <input id="hidden" type="hidden" name="_method" value="patch">

    <p><label for="username">New Username: </label>
    <input type="text" name="user[username]" id="username" value="<%= @user.username %>"></p>

    <p><label for="email">New Email: </label>
    <input type="email" name="user[email]" id="email" value="<%= @user.email %>"></p>

    <p><label for="password">New Password: </label>
    <input type="password" name="user[password]" id="password" value="<%= @user.password %>"></p>

    <p><input type="submit" value="Update"></p>

</form>