<h1>Create a New Project!</h1>
<br>

<form method="POST" action="/projects">

    <!--Project Info-->

    <p><label for="name">Project Name:</label>
    <input type="text" name="project[name]" id="name"></p>

    <p><label for="category">Category: </label>
    <input type="text" name="project[category]" id="category"></p>

    <p><label for="knit_time">Knit Time (in hours): </label>
    <input type="number" name="project[knit_time]" id="knit_time"></p>
    <br><br>

    <p><input type="submit" value="Create"></p>

</form>