<h1>Create a new hank of yarn!</h1>
<br>

    <form method="POST" action="/yarns">

        <p><label for="yarn_brand_1">Brand:</label>
        <input type="text" name="project[yarns][][brand]" id="yarn_brand_1"></p>
        
        <p><label for="yarn_name_1">Name:</label>
        <input type="text" name="project[yarns][][name]" id="yarn_name_1"></p>

        <p><label for="yarn_weight_1">Weight:</label>
        <input type="text" name="project[yarns][][weight]" id="yarn_weight_1"></p>

        <p><label for="yarn_color_1">Color:</label>
        <input type="text" name="project[yarns][][color]" id="yarn_color_1"></p>

        <p><label for="yarn_quantity_1">Quantity:</label>
        <input type="number" name="project[yarns][][quantity]" id="yarn_quantity_1"></p>

        <br>
        <h2>Add your yarn to a project:</h2>
        <br>

        <% if @projects  == [] || @projects == nil %>
            <p>You have no current projects! Please create a new one.</p>
        <% else %>
            <% @projects.each do |project| %>
                <div id="radio">
                    <input type="radio" name="yarn[project_id]" id="<%= project.id %>" value="<%= project.id %>"><%= "#{project.name}" %><br>
                </div>
            <% end %>
        <% end %>

        <br><br>

        <p><input type="submit" value="Create"></p>

    </form