<h1>Insert the form to create a new instance of your model.</h1>

 <!--Yarn Info-->

     <h2>Required Yarn</h2>
     <br>

    <!--First Yarn-->

        <p><label for="yarn_name_1">Yarn Name:</label>
        <input type="text" name="project[yarns][][name]" id="yarn_name_1"></p>

        <p><label for="yarn_weight_1">Weight:</label>
        <input type="text" name="project[yarn][][weight]" id="yarn_weight_1"></p>

        <p><label for="yarn_color_1">Color:</label>
        <input type="text" name="project[yarn][][color]" id="yarn_color_1"></p>

        <p><label for="yarn_quantity_1">Quantity:</label>
        <input type="number" name="project[yarn][][quantity]" id="yarn_quantity_1"></p>

        <br><br>

    <!--Second Yarn-->

        <p><label for="yarn_name_2">Yarn Name:</label>
        <input type="text" name="project[yarns][][name]" id="yarn_name_2"></p>

        <p><label for="yarn_weight_2">Weight:</label>
        <input type="text" name="project[yarn][][weight]" id="yarn_weight_2"></p>

        <p><label for="yarn_color_2">Color:</label>
        <input type="text" name="project[yarn][][color]" id="yarn_color_2"></p>

        <p><label for="yarn_quantity_2">Quantity:</label>
        <input type="number" name="project[yarn][][quantity]" id="yarn_quantity_2"></p>

        <br><br>

    <!--Third Yarn-->

        <p><label for="yarn_name_3">Yarn Name:</label>
        <input type="text" name="project[yarns][][name]" id="yarn_name_3"></p>

        <p><label for="yarn_weight_3">Weight:</label>
        <input type="text" name="project[yarn][][weight]" id="yarn_weight_3"></p>

        <p><label for="yarn_color_3">Color:</label>
        <input type="text" name="project[yarn][][color]" id="yarn_color_3"></p>

        <p><label for="yarn_quantity_3">Quantity:</label>
        <input type="number" name="project[yarn][][quantity]" id="yarn_quantity_3"></p>

        <br><br>

    <!--End Yarn-->