<div class="wrapper">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Working on your PhD?</h2>

    <div class="content">
      <p>Sign up or Login to get those projects done!</p>

        <a href="/signup">Signup</a>
        <a href="/login">Login</a>

    </div>

    <!--Sidebar

    <div class="sidebar">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/projects">My Projects</a></li>
        <li><a href="/yarn">My Yarn</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

    -->
    
  </div>
</div>
