<style>

.button {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #grey;
  color: lightpink;
}
</style>

<div class="wrapper">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Working on your PhD?</h2>

    <div class="content">
      <p>Sign up or Login to get those projects done!</p>

        <button class="button">Singup</button>
        <button class="button">Login</button>

    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
