<style>

a:link, a:visited {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: white;
    color: #a35559;
  }
  
</style>

<div class="wrapper">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Working on your PhD?</h2>

    <div class="content">
      <p>Sign up or Login to get those projects done!</p>

        <a href="/signup">Singup</a>
        <a href="/login">Login</a>

    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
